@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap");
.botonera {
  background-color: rgba(255, 0, 0, 0.719); }
  .botonera .logo {
    font-family: "Permanent marker", sans-serif;
    font-size: 2rem;
    color: #000000; }
  .botonera ul li a {
    font-family: "Permanent marker", sans-serif;
    color: #000000;
    font-size: 1.2rem; }

* {
  padding: 0%;
  margin: 0%; }

.body-1 {
  background-image: url(../recursos/img/fondonegro.jpg); }

h1,
h2 {
  font-family: "Permanent marker", sans-serif;
  font-size: 2rem;
  color: #770909; }

h3 {
  font-family: "Permanent marker", sans-serif;
  font-size: 1.5rem;
  color: #f5eded; }

.figcaption {
  font-family: "Permanent marker", sans-serif;
  color: red;
  font-size: 1.5rem; }

.p-lorem1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #f5eded;
  border-style: double;
  padding: 20px;
  width: 80%;
  margin: 50px auto; }

#selectorA p:first-letter {
  color: red;
  font-size: 2rem;
  padding: 4px; }

.footer {
  background-color: rgba(255, 0, 0, 0.719); }
  .footer .logo {
    font-family: "Permanent marker", sans-serif;
    font-size: 2rem;
    color: #000000; }

/*transforms*/
.figure:hover {
  color: #f5eded;
  font-weight: 200ms ease;
  transform: translateX(4px);
  cursor: pointer;
  transition: transform 200ms ease; }
