*{
    padding: 0%;
    margin: 0%;
}
.body-1{
    background-image: url(../recursos/img/fondonegro.jpg);
}

h1,
h2{font-family: $mainFont;
    font-size: $textLg;
    color: $mainColor;

}
h3{
    font-family: $mainFont;
    font-size: $textMd;
    color:$color3;
}

.figcaption{
    font-family:$mainFont;
    color: $color2;
    font-size: $textMd;
}

.p-lorem1{
    font-family: $secondaryfont;
    font-size:$textSm ;
    color: $color3;
    border-style: double;
    padding: 20px;
    width: 80%;
    margin: 50px auto;


}
#selectorA p:first-letter{
    color: $color2;
    font-size: $textLg;
    padding: 4px;
}
.footer{
    background-color: $color1;
    .logo{
        font-family: $mainFont;
        font-size: $textLg;
        color: $color4;
    }
}
/*transforms*/
.figure:hover{
    color:$color3;
    font-weight: 200ms ease;
    transform: translateX(4px);
    cursor: pointer;
    transition:transform 200ms ease;
}