@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');
//vars fonts

$mainFont: 'Permanent marker', sans-serif;
$secondaryfont:'Montserrat', sans-serif;
//sizes
$textSm:1.2rem;
$textMd:1.5rem;
$textLg:2rem;